/*GLOBAL*/
html {
  font-size: 62.5%;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

p {
  font-weight: 300;
  font-size: 16px;
}

button {
  background-color: #4dca90;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

/*HEADER*/
.header {
  position: fixed;
  background-color: rgba(34, 34, 34, 0.8705882353);
  width: 100%;
  top: 0;
  z-index: 100;
}

.header_container {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 2px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-icon-container {
  display: none;
}

.header .ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: row nowrap;
}
.header .ul li {
  list-style-type: none;
  margin: 0 1.2em;
}

.underline {
  text-decoration: none;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 400;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}
.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #ffffff;
  transform: scalex(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom right;
}
.underline:hover::after {
  transform: scalex(1);
  transform-origin: bottom left;
}

/*INICIO*/
.onevan_image {
  background-image: url(../img/fondocaravana.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
}

.living_image {
  background-image: url(../img/onevancamper.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
}

.box_container {
  width: 70%;
  margin: auto;
}

.box_flex {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.hero_container {
  border-radius: 10px 10px 0px 0px;
  background-color: #2c3e50;
}

.hero_content {
  display: flex;
  flex-direction: column;
  margin: 15px;
  line-height: 5em;
  color: #ffffff;
}
.hero_content p {
  font-size: 3.7em;
  padding: 0px 15px;
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 0.3px;
}
.hero_content h1 {
  font-size: 2.2em;
  padding: 0px 15px;
  font-weight: 300;
  line-height: 1.5em;
}

.search_bar {
  background: rgba(238, 238, 238, 0.9725490196);
  border-radius: 0px 0px 10px 10px;
  display: flex;
}
.search_bar form {
  display: flex;
  font-size: 1.5em;
  padding: 2rem;
  align-items: center;
}
.search_bar button {
  padding: 15px 25px;
  font-size: 1.1em;
  margin-left: 20px;
}

.start_date {
  border: solid 1px grey;
  max-width: 17vw;
  height: 7vh;
  padding: 1em;
  background-color: white;
}

.end_date {
  border: solid 1px grey;
  max-width: 17vw;
  height: 7vh;
  padding: 1em;
  background-color: white;
}

/*AUTOCARAVANAS*/
.main_container {
  margin: 60px 0px;
}

.box-section_header {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section_header {
  line-height: 40px;
  margin-bottom: 20px;
  margin-top: 70px;
}
.section_header h2 {
  font-weight: bold;
  font-size: 3em;
}
.section_header h3 {
  font-weight: 300;
  font-size: 1.8em;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(3, 22.5vw);
  grid-template-rows: repeat(2, 450px);
  justify-content: center;
  grid-gap: 1vw;
}

.card {
  border-radius: 2px 2px 2px 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(219, 215, 215);
}

.card_image {
  height: 55%;
}
.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_content {
  padding: 10px;
}
.card_content h3 {
  font-weight: bold;
  font-size: 20px;
}
.card_content span {
  font-weight: bold;
  font-size: 1.2rem;
}
.card_content p {
  font-weight: 300;
  font-size: 1.4em;
  padding: 0px;
}
.card_content button {
  font-size: 1.5em;
  padding: 10px 25px;
}
.card_content button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.content_1 {
  line-height: 30px;
  height: 100px;
}

.content_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

/*Living pagina*/
.living {
  width: 100%;
  margin-top: 20px;
}
.living .living-container {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}
.living .living-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.living .living-h2 h2 {
  font-size: 5em;
}
.living .living-p {
  padding-top: 15px;
}
.living .living-p p {
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: 400;
}
.living .living-icons {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.living .icons img {
  width: 40px;
}
.living .icons p {
  padding-left: 10px;
  font-size: 1.5em;
  font-weight: 300;
}
.living .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
}

/*CONTACTO*/
.contacto {
  display: flex;
  height: 100vh;
}

.map_container {
  margin: auto;
}

.box-map_container {
  width: 70%;
  margin: auto;
}

.box-flex_map {
  display: flex;
  justify-content: center;
}

.card_nosotros {
  background: linear-gradient(#086966, #f6aa55);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.map_content {
  width: 50%;
  line-height: 25px;
  color: #ffffff;
  text-align: left;
  margin: 30px 0px;
  padding: 0px 20px;
}
.map_content h2 {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
}
.map_content p {
  padding: 10px 0px;
}
.map_content button {
  font-size: 1.4em;
  padding: 10px 25px;
}

.card_map {
  width: 50%;
}
.card_map iframe {
  width: 100%;
  /*height: 100%;*/
}

/*BLOG*/
.blog_container {
  padding-top: 94px;
  background-color: rgb(20, 30, 40);
}

.box-blog_container {
  width: 70%;
  margin: auto;
}

.box-flex_blog {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog_heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  margin-top: 100px;
}
.blog_heading h1 {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 26px;
  margin-top: 10px;
  letter-spacing: 0.3px;
}

.blog_title {
  text-align: center;
  padding-bottom: 16px;
}

.blog-tags {
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  align-items: flex-end;
  gap: 2em;
}

.blog {
  margin: 10px 0px;
  border: 1px solid rgb(255, 255, 255);
}

.blog_content {
  width: 100%;
  margin: 10px;
  line-height: 25px;
  text-align: justify;
  display: flex;
}

.blog_text {
  width: 50%;
  padding-right: 20px;
}
.blog_text p {
  color: white;
  padding-bottom: 16px;
}

figure {
  width: 50%;
  padding-right: 20px;
}
figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px;
}

/*GALERIA*/
.gallery-container {
  display: grid;
  grid-template-columns: 1px repeat(3, 22.5vw) 1px;
  grid-auto-rows: 350px;
  grid-gap: 16px;
  padding: 120px 0px;
  justify-content: center;
  background: rgb(226, 226, 226);
}
.gallery-container .gallery_img {
  overflow: hidden;
}
.gallery-container .gallery_img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(50%);
  transform: scale(1);
}
.gallery-container .gallery_img .img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
.gallery-container .gallery_img:nth-child(1) {
  grid-row-start: span 2;
  grid-column: 2/3;
}
.gallery-container .gallery_img:nth-child(2) {
  grid-column: 3/5;
}
.gallery-container .gallery_img:nth-child(3) {
  grid-column: 3/5;
}
.gallery-container .gallery_img:nth-child(4) {
  grid-column: 2/4;
  grid-row-start: span 2;
}
.gallery-container .gallery_img:nth-child(5) {
  grid-row-start: span 2;
}
.gallery-container .gallery_img:nth-child(6) {
  grid-row-start: span 2;
  grid-column: 2/3;
}
.gallery-container .gallery_img:nth-child(8) {
  grid-row-start: span 2;
}
.gallery-container .gallery_img:nth-child(9) {
  grid-column: 3;
}
.gallery-container .gallery_img:nth-child(10) {
  grid-row-start: span 2;
  grid-column: 2/5;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  transform: scale(1.1);
}

.lightbox.activo {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.lightbox .cerrar {
  width: 6em;
  height: 3.5em;
  margin: 100px 0 0.5em;
  color: rgb(0, 0, 0);
  background-color: rgba(226, 226, 226, 0.603);
  box-shadow: 0.5em 0.5em 1em #c9c9c9, -0.5em -0.5em 1em #ffffff, inset 0 0 0 transparent, inset 0 0 0 transparent;
  transition: all 0.4s ease;
}

.lightbox .cerrar:hover {
  box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.5em 0.5em 1em #c9c9c9, inset -0.5em -0.5em 1em #ffffff;
  transition: all 0.4s ease;
}

.lightbox .grande {
  height: 80%;
  object-fit: contain;
  box-shadow: 1em 1em 2em rgb(182, 182, 182);
  border-radius: 10px;
}

/*FOOTER*/
.footer {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}
.footer h4 {
  padding: 20px 20px 0px 20px;
  font-weight: 600;
  font-size: 20px;
}
.footer p {
  font-weight: 300;
  font-size: 14px;
  padding: 1px;
  line-height: 20px;
}

.box-footer_container {
  width: 70%;
  margin: auto;
}

.box-flex_footer {
  display: flex;
}

.footer__content {
  text-align: center;
  display: flex;
}
.footer__content div {
  padding-left: 60px;
}

/*MEDIA QUERIES*/
@media (max-width: 1024px) {
  .header .nav {
    width: 100%;
    display: none;
  }
  .header_container {
    display: block;
  }
  .header .nav.activo {
    display: block;
  }
  .header__nav ul li a {
    font-size: 14px;
  }
  .header .ul {
    flex-direction: column;
  }
  .header .ul .li {
    margin: 2em 0;
  }
  .hamburger-icon-container {
    height: 24px;
    width: 24px;
    position: relative;
    cursor: pointer;
    margin-left: 35px;
    display: block;
  }
  .hamburger-icon-container:hover > .hamburger-icon {
    opacity: 0;
  }
  .hamburger-icon-container:hover::after {
    transform: rotate(320deg);
    top: 12px;
  }
  .hamburger-icon-container:hover::before {
    transform: rotate(-140deg);
    bottom: 11px;
  }
  .hamburger-icon-container::after {
    content: "";
    position: absolute;
    top: 2px;
    height: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: transform 0.45s ease-in-out, top 0.25s ease-in-out;
  }
  .hamburger-icon-container::before {
    content: "";
    position: absolute;
    bottom: 2px;
    height: 1px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: transform 0.45s ease-in-out, bottom 0.25s ease-in-out;
  }
  .hamburger-icon {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    top: 50%;
    transition: opacity 0.14s ease-in-out;
    opacity: 1;
  }
  .onevan_image {
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
  }
  .box_flex {
    width: 100%;
  }
  .hero_content p {
    margin-top: 0px;
    font-size: 3.4em;
  }
  .hero_content h1 {
    font-size: 2em;
  }
  .hero_content h3 {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.5em;
    margin-top: 10px;
  }
  .search_bar {
    display: block;
  }
  .search_bar form {
    display: block;
    font-size: 1.4em;
  }
  .search_bar button {
    margin-top: 10px;
    width: -webkit-fill-available;
    margin-left: 0px;
  }
  .start_date {
    max-width: 100%;
    border-radius: 4px 4px 0px 0px;
    border-bottom: none;
  }
  .end_date {
    max-width: 100%;
    border-radius: 0px 0px 4px 4px;
  }
  .box-section_header {
    width: 80%;
  }
  .section_header {
    line-height: 30px;
  }
  .section_header h2 {
    font-size: 2.4em;
  }
  .section_header h3 {
    font-size: 1.6em;
  }
  .card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .card {
    width: 80%;
  }
  .box-map_container {
    width: 80%;
  }
  .box-flex_map {
    display: flex;
    flex-direction: column;
  }
  .card_nosotros {
    display: block;
  }
  .map_content {
    width: 100%;
    margin: 0px;
    padding: 20px;
  }
  .map_content h2 {
    font-size: 2.5em;
  }
  .map_content p {
    font-size: 1.6em;
  }
  .card_map {
    width: 100%;
    height: 450px;
  }
  .card_map iframe {
    height: 100%;
  }
  .box-blog_container {
    width: 80%;
  }
  .blog_heading h1 {
    font-size: 2em;
  }
  .blog_content {
    display: flex;
    flex-direction: column;
  }
  .blog_text {
    width: 100%;
  }
  figure {
    width: 100%;
    padding-bottom: 20px;
  }
  figure img {
    border-radius: 10px 0px;
  }
  .footer {
    margin-top: 25px;
  }
  .footer h4 {
    padding: 10px 0px 10px 0px;
    font-weight: 600;
    font-size: 1.7em;
  }
  .footer p {
    font-weight: 300;
    font-size: 1.3em;
    padding: 1px;
    line-height: 20px;
  }
  .box-footer_container {
    width: 100%;
  }
  .footer-content_container {
    width: 80%;
    margin-top: 10px;
  }
  .box-flex_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
  }
  .footer__content div {
    padding: 0;
  }
  .gallery-container {
    display: grid;
    grid-template-columns: 1px repeat(2, 40.5vw) 1px;
    grid-auto-rows: 100px;
    grid-gap: 12px;
    padding-top: 100px;
  }
  .gallery-container .gallery_img:nth-child(1) {
    grid-row-start: span 3;
    grid-column: 2/3;
  }
  .gallery-container .gallery_img:nth-child(2) {
    grid-column: 3/4;
    grid-row-start: span 2;
  }
  .gallery-container .gallery_img:nth-child(3) {
    grid-column: 3/4;
    grid-row-start: span 2;
  }
  .gallery-container .gallery_img:nth-child(4) {
    grid-column: 2/3;
    grid-row-start: span 2;
  }
  .gallery-container .gallery_img:nth-child(5) {
    grid-row-start: span 3;
    grid-column: 3/4;
  }
  .gallery-container .gallery_img:nth-child(6) {
    grid-row-start: span 2;
    grid-column: 2/3;
  }
  .gallery-container .gallery_img:nth-child(7) {
    grid-row-start: span 2;
    grid-column: 2;
  }
  .gallery-container .gallery_img:nth-child(8) {
    grid-row-start: span 3;
    grid-column: 3;
  }
  .gallery-container .gallery_img:nth-child(9) {
    grid-column: 2;
  }
  .gallery-container .gallery_img:nth-child(10) {
    grid-row-start: span 2;
    grid-column: 2/4;
  }
}
@media screen and (min-width: 1025px) {
  .start_date {
    border-radius: 4px 0px 0px 4px;
  }
  .end_date {
    border-radius: 0px 4px 4px 0px;
    border-left: none;
  }
}

/*# sourceMappingURL=style.css.map */
