/*FOOTER*/

.footer {
    margin: 2px 0px 5px 0px;

    h4 {
        padding: 20px 20px 0px 20px;
        font-weight: 600;
        font-size: 20px;
    }

    p {
        font-weight: 300;
        font-size: 14px;
        padding: 1px;
        line-height: 20px;
    }
}

.box-footer_container {
    width: 70%;
    margin: auto;
}

.box-flex_footer {
    display: flex;
}

.footer__content {
    text-align: center;
    display: flex;

    div {
        padding-left: 60px;
    }

}