/*INICIO*/

@mixin date-style {
    border: solid 1px grey;
    max-width: 17vw;
    height: 7vh;
    padding: 1em;
    background-color: $background-color_6;
}

@mixin box-model {
    display: flex;
    flex-direction: column;
} 


.onevan_image {
    background-image: url(../img/fondocaravana.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}

.box_container {
    width: 70%;
    margin: auto;
}

.box_flex {
    @include box-model;
    width: 600px;
}

.hero_container {
    border-radius: 10px 10px 0px 0px;
    background-color: $background-color_5;
}

.hero_content {
    @include box-model;
    margin: 15px;
    line-height: 5em;
    color: $color_1;

    p {
        font-size: 3.7em;
        padding: 0px 15px;
        margin-top: 10px;
        font-weight: bold;
        letter-spacing: 0.3px;
    }

    h1 {
        font-size: 2.2em;
        padding: 0px 15px;
        font-weight: 300;
        line-height: 1.5em;
    }
}

.search_bar {
    background: #eeeeeef8;
    border-radius: 0px 0px 10px 10px;
    display: flex;

    form {
        display: flex;
        font-size: 1.5em;
        padding: 2rem;
        align-items: center;
    }

    button {
        padding: 15px 25px;
        font-size: 1.1em;
        margin-left: 20px;
    }
}

.start_date {
    @include date-style;
}

.end_date {
    @include date-style;
}