$color_1: #ffffff;
$color_2: rgb(255, 255, 255);
$color_3: white;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: rgb(255, 255, 255);
$background-color_2: #4dca90;
$background-color_3: #222222de;
$background-color_4: #ffffff;
$background-color_5: #2c3e50;
$background-color_6: white;
$background-color_7: rgb(20, 30, 40);